<!doctype html>
<html>
<head>
<title>Programmation web avec Flask</title>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}'>
</head>
<body>
<div class='contenu'>
	<a href='{{ url_for("group_homepage", group=group) }}'>{{ group }} homepage </a><br/><br/>
	<h1>Liste des commandes</h1><br/>
	<div class="lp_table">
		<div class="lp_entetes">
            {% for key in commande_keys %}
			    <div class="lp_entete">{{ key }}</div>
            {% endfor %}
		</div>
		{% for commande in commandes_values %}
			<div class="lp_ligne">
                {% for key in commande_keys %}
				    <div class="lp_cellule">{{ commande[key] }}</div>
			    {% endfor %}
            </div>
		{% endfor %}
	</div>
</div>

</body>
</html>
