<!doctype html>
<html>
	<head>
	<title>Home</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}'>
	</head>
	<body>
		<div class='contenu'>
            <h1>{{ group }} Homepage </h1><br/><br/>
            <a href='{{ url_for('group_homepage', group=group) }}'>{{ group }} homepage </a> <br/><br/>
            <a href='{{ url_for('passer_commande', group=group) }}'>passer_commande </a> <br/><br/>
            <a href='{{ url_for('afficher_commandes', group=group) }}'>afficher_commande </a> <br/><br/>
        </div>
	</body>
</html>
