<!doctype html>
<html>
<head>
<title>Passage de commandes générique</title>
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}'>
</head>
<body>
<div class='contenu'>
	<a href='{{ url_for("group_homepage", group=group) }}'>{{ group }} homepage </a><br/><br/>
	<h1>Ajout d'une personne</h1><br/>
	{% if msg!="" %}<strong>{{ msg }}</strong><br/><br/>{% endif %}

	<form method='post' action='{{ url_for("passer_commande") }}'>
        {% for key in commande_keys %}
            <label for='nom'>{{ key }}</label>
            <input type='text' name={{ key }} value=''>
        {% endfor %}

		<select name='role'>
            {% for key in commande_keys %}
			    <option value={{ key }}>{{ key }}</option>
            {% endfor %}
		</select>

	    <input type='submit' value='ajouter'>
	</form><br/>
</div>
</body>
</html>
